
.listOfMonths {
  display: grid;
  grid-template-columns: 2fr 3fr;
  height: 200px;
  width: 500px;
  background-color: #1b1b1b;
  padding: 50px 50px;
  font-size: 38px;
}

@media (max-width:480px) {
  .listOfMonths{
    height: 100px;
    width: 300px;
    padding: 30px 10px;
    font-size: 18px;
  }
}